altgraph==0.17.2
colorama==0.4.4
importlib-metadata==4.11.3
inquirerpy==0.3.3
macholib==1.16
pfzy==0.3.4
prompt-toolkit==3.0.28
Pygments==2.11.2
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
pymongo==4.0.2
regex==2022.3.15
six==1.16.0
tabulate==0.8.9
tqdm==4.63.1
typing_extensions==4.1.1
wcwidth==0.2.5
zipp==3.7.0
